<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Product Recommendation System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/main">Main Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h2>Hello!, you've reached the about page.</h2>
        <h3>A little bit about me:</h3>
        <div>
            <img src = "/static/Headshot.JPG" alt = "Zachary Aditya" style = "width: 200px; height: auto;">
        </div>
        <p>I am a senior undergraduate in UC Berkeley studying Data Science, I am very interested in 
            how Machine Learning techniques can be applied
            to commercial use! I loved doing this project and figuring out how some big corporations manage to make such good recommendations! 
            I always fall for them and end up buying more than I need! On a side note, check out my other projects on github! 
            My other career interests include Fintech and Blockchain Technology!
            <a href="https://github.com/Zachaditya">My Github Profile</a>
        </p>
        <h3>About this Project:</h3>
        <p>This project was intended to solely be a fun personal project and therefore lacks a lot of important elements that 
            make up a proper e-commerce website. The bulk of the project was implementing the search bar in the main page which 
            took up much more time than I anticipated. It required cleaning the original data and also implementing Natural Language Processing
            techniques to filter through the dataset and find the most similar products based on the user's search.
        </p>
        <h3>Given the time for improvements:</h3>
        <p>- I would make the website much more aesthetic</p>
        <p>- I would create a more robust machine learning algorithm given more data by clustering similar users 
            together and creating a recommendation algorithm for similar users</p>
        <p>- I would add more webpages to make the website more functional</p>
    </div>
    
    <script src = "https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>